{
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"plugins": [
		"prettier-plugin-jsdoc",
		"prettier-plugin-organize-imports",
		"prettier-plugin-sort-package-json"
	]
}
